# MATLAB files
MATLAB/send_pressure_udp_quarc_win64/*
MATLAB/slprj/*
MATLAB/send_pressure_udp.rt*
MATLAB/send_pressure_udp.slx.autosave
MATLAB/initialPressure*
Pressure.mat

# Python files
*__pycache__*

# Data
data/exp_*/cam*
generic-neural-mpc/data/*.pth

# sim
sim/frames*
sim/*.mp4
sim/results*
