# MATLAB files
MATLAB/send_pressure_udp_quarc_win64/*
MATLAB/slprj/*
MATLAB/send_pressure_udp.rt*
MATLAB/send_pressure_udp.slx.autosave
Pressure.mat

# Python files
src/__pycache__/*

# Data
data/exp_*/cam*